div.panel ul {
	list-style:none;
	padding:0;
}

div.panel li {
	display:inline-block;
	width:100px;
	text-align:center;
	margin-top:15px;
	margin-bottom:10px;
	padding-left:20px;
}

div.panel li div {
	font-size:12px;
}

div.panel img {
	display:block;
	margin:0 auto;
	height:50px;
}

@media (min-width:768px) {
	div.standard {
		float:right;
		margin-top:-35px;
	}
}

@media (max-width:767px) {
	div.standard {
		margin-bottom:10px;
	}
}

