a.no-template {
	width:100%;
}

table.templates tr.category {
	color:#d0d0d0;
	background-color:#f0f0f0;
}

table.templates tbody tr.category:hover {
	cursor:default;
}

table.templates tr.category:first-child {
	color:#f0f0f0;
}

table.templates tr.category td:first-child {
	color:#803000;
	font-weight:bold;
}

div.description {
	font-size:12px;
	font-style:italic;
}

div.description + div.row {
	margin-top:15px;
}

@media (min-width:768px) {
	table.threats td:nth-child(1) {
		overflow:hidden;
		text-overflow:ellipsis;
		white-space:nowrap;
		max-width:0;
	}

	table.threats th:nth-child(n+2) {
		width:120px;
	}

	table.templates th:nth-child(1),
	table.templates th:nth-child(n+3) {
		width:25px;
	}

	table.scope td:nth-child(1) {
		width:30px;
	}

	table.scope td:nth-child(2) {
		overflow:hidden;
		text-overflow:ellipsis;
		white-space:nowrap;
		max-width:0;
	}

	table.scope th:nth-child(3) {
		width:140px;
	}

	table.scope th:nth-child(4) {
		width:90px;
	}

	table.scope th:nth-child(5) {
		width:140px;
	}
}

h2 input {
	float:right;
}
