table.actors,
table.bia,
table.threats {
	display:none;
}

span.show_table {
	color:#e06060;
	float:right;
	cursor:pointer;
}

form {
	margin-top:30px;
}

textarea.form-control {
	max-width:none;
	height:200px;
}

@media (min-width:768px) {
	table.actors th:nth-child(n+2) {
		width:140px;
	}

	table.threats td:nth-child(1) {
		overflow:hidden;
		text-overflow:ellipsis;
		white-space:nowrap;
		max-width:0;
	}

	table.threats th:nth-child(n+2) {
		width:120px;
	}
}

table.threats span.urgency0 {
	color:#00c000;
}

table.threats span.urgency1 {
	color:#ffd000;
}

table.threats span.urgency2 {
	color:#ff8000;
}

table.threats span.urgency4 {
	color:#ff0000;
}
