@media (min-width:768px) {
	div.standard {
		text-align:right;
		position:relative;
		top:8px;
		right:100px;
	}
}

@media (max-width:767px) {
	div.standard {
		text-align:right;
		margin-right:80px;
	}
}
