div.content {
	position:static;
}

table.table th:first-child {
	width:30%;
}

table.table th:nth-child(n+3) {
	width:90px;
}

form.clear {
	display:inline-block;
	width:100%;
}

div.well {
	margin-top:10px;
}

div.well input[type=checkbox] {
	margin-right:5px;
	position:relative;
	top:2px;
}

textarea#style {
	height:100px;
}

textarea#editor {
	max-width:100%;
	height:250px;
}

div.preview {
	position:fixed;
	top:10px;
	bottom:10px;
	left:10px;
	right:10px;
	z-index:999999;
	background-color:rgba(240, 160, 0, 0.9);
	padding:10px;
	border-radius:5px;
}

div.preview div.preview-heading span.width {
	margin-left:30px;
}
div.preview div.preview-heading span.width img {
	margin-left:10px;
	cursor:pointer;
	height:20px;
}

div.preview div.preview-heading span.close_preview {
	float:right;
	font-size:140%;
	cursor:pointer;
}

div.preview div.preview-body {
	position:absolute;
	top:40px;
	bottom:10px;
	left:10px;
	right:10px;
	border:2px solid #000000;
	background-color:#f0f0f0;
	margin:0 auto;
}

div.preview iframe {
	width:100%;
	height:100%;
	border:0;
}

@media (max-width:767px) {
	table.table th:first-child {
		width:50%;
	}
	table.table th:nth-child(n+3),
	table.table td:nth-child(n+3) {
		display:none;
	}
}
