table.table th:nth-child(3) {
	width:100px;
}

textarea.form-control {
	height:100px;
}

@media (min-width:768px) {
	div.module {
		width:300px;
		float:right;
		margin-right:70px;
		margin-top:-40px;
	}
}
