div#internal_errors {
	position:absolute;
	left:25px;
	top:20px;
	right:25px;
	z-index:1000;
}

div#internal_errors div.panel-body {
	padding-bottom:10px;
}

div#internal_errors span.close {
	font-size:16px;
	cursor:pointer;
	color:#000000;
	opacity:0.6;
}
